@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
	--primary-color: #dc3545;
	--dark-color: #333333;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	background-color: #fff;
	color: #333;
}

.item-center {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.darkSpace {
	height: 50px;
	background: #012433 0% 0% no-repeat padding-box;
	opacity: 1;
}
